@page "{restaurantId:Guid}"
@model FoodDelivery.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

@if(Model.Message != null)
{
    <div class="alert alert-success" id="success-alert">@Model.Message</div>
}

<h1>@Model.Restaurant.Name</h1>
<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Address: @Model.Restaurant.Address
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

<a asp-page="./Index" class="btn btn-outline-info">
   All Restaurants
</a>



<script type="text/javascript">
    $(document).ready(function () {
       $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});
    });
</script>

